<!DOCTYPE html>
<html>
<head>
    <title>Poll Detail</title>
</head>
<body>
    <h1>{{ poll.title }}</h1>
    <p>{{ poll.question }}</p>

    <h3>Choices</h3>
    <ul>
        {% for choice in poll.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul>
    <p>Expiry Date: {{ poll.expiry_date }}</p>
    <ul>Tags:
        {% for tag in poll.tags.all %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'polls:poll_list' %}">Back to Poll List</a>
    <a href="{% url 'polls:profile' %}">Back to Profile</a>
</body>
</html>
