body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #1c44a3;
}

.question-block {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    text-align: left;
}

li:last-child {
    border-bottom: none;
}

button {
    background-color: #1c44a3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #3766d4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#status-heading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: #1c44a3;
}

#status {
    font-weight: bold;
    font-size: 20px;
    color: orange;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .question-block {
        width: 90%;
    }
}
